.img {
    width: 150px;
    border-radius: 25%;
}

.item {
    width: 150px;
        padding: 5px;
        text-align: center;
    list-style: none;
}

.castWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.actorName {
    font-weight: 700;
}